:root {
  --backgroundColor: #F3F3F3;
  --lightGrey: #F6F6F6;
  --grey: #EAEAEA;
  --darkGrey: #353535;
  --purple: #9356DC;
  --lightPink: #FF79DA;
  --lightGreen: #99E2D0;
  --green: #008766;
  --lightBlue: #89C8FA;
  --blue: #003A68;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Shrikhand", cursive;
}

.card {
  background-color: white;
  height: 250px;
  width: 100%;
  min-width: 340px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  border-radius: 130px;
  padding: 15px 25px;
  background: #9356dc;
  background: linear-gradient(356deg, #9356dc 20%, #ff79da 90%);
  color: var(--backgroundColor);
  box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.8);
}

.heart {
  position: relative;
  z-index: 3;
  height: 30px;
  width: 30px;
  font-size: 30px;
}
.heart .fa-heart {
  position: absolute;
}
.heart .fa-solid {
  color: transparent;
  background: linear-gradient(to bottom, var(--purple), var(--lightPink) 60%);
  -webkit-background-clip: text;
  transition: 0.5s;
  opacity: 0;
}
.heart .fa-regular {
  transition: 0.5s;
  opacity: 1;
}
.heart .fa-solid:hover {
  transition: 0.5s;
  opacity: 1;
}
.heart .fa-regular:hover {
  transition: 0.5s;
  opacity: 0;
}

/********** header **********/
.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin-top: 10px;
}

.pos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--grey);
  box-shadow: 0px 4px 5px -3px rgba(0, 0, 0, 0.75) inset;
  height: 50px;
}

/********** footer **********/
footer {
  height: 100%;
  background-color: var(--darkGrey);
  padding: 30px;
}

.logo-footer {
  color: white;
  margin-bottom: 20px;
}

.text-footer {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.text-footer p {
  cursor: pointer;
}

footer .fa-solid {
  color: white;
  width: 25px;
  height: 19px;
  aspect-ratio: 1/1;
}

@media (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: end;
  }
  footer .logo-footer {
    margin-bottom: 0;
    margin-left: 50px;
  }
  footer .text-footer {
    flex-direction: row;
  }
  footer .mar {
    margin-right: 40px;
    color: white !important;
  }
}
.loading {
  position: relative;
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  animation: loading 3s forwards;
}

.fade-out {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: loading 2.5s forwards;
  background-color: transparent;
}

@keyframes loading {
  0% {
    display: block;
    background-color: white;
  }
  20% {
    color: transparent;
  }
  40% {
    color: black;
  }
  60% {
    color: transparent;
  }
  80% {
    background-color: white;
    color: black;
  }
  99% {
    background-color: transparent;
    color: transparent;
    display: none;
    z-index: 20;
  }
  100% {
    color: transparent;
    display: none;
    z-index: -100;
  }
}
/********** reservation **********/
.reservation {
  background-color: var(--lightgrey);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 30px 20px;
}

.reservation h2 {
  padding: 0 50px;
}

/********** main **********/
main {
  display: flex;
  flex-direction: column;
}

/********** fonctionnement **********/
.fonctionnement {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 20px;
}

.fonctionnementTag {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tag {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 20px;
  background-color: var(--backgroundColor);
  box-shadow: 0px 10px 14px -1px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 30px;
  border-radius: 20px;
  white-space: nowrap;
  cursor: pointer;
}

.tag:hover {
  background-color: var(--lightGrey);
  box-shadow: 0px 12px 16px -1px rgba(0, 0, 0, 0.2);
}

.number {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -45px;
  background-color: var(--purple);
  color: white;
  border-radius: 100%;
  aspect-ratio: 1/1;
}

.fonctionnement .fa-solid {
  font-size: 20px;
  color: var(--darkGrey);
}

.fonctionnement .tag3 {
  color: var(--purple);
}

/********** fonctionnement **********/
.restaurants {
  width: 100%;
  height: 100%;
  background-color: var(--grey);
}

.rest {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.restCard {
  display: grid;
  gap: 20px;
}

.restCard a {
  min-width: 340px;
}

.card {
  position: relative;
}

.card img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}

.card .nouveau {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 10px;
  border-radius: 2px;
  background-color: var(--lightGreen);
  color: var(--green);
}

.card-content {
  display: flex;
  height: auto;
  width: 100%;
}

.card-text {
  height: 100%;
  width: 100%;
  padding: 10px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-content i {
  justify-self: flex-end;
  align-self: center;
  margin-right: 20px;
  font-size: 30px;
}

.fa-heart {
  position: absolute;
  top: 20px;
  right: 10px;
}

@media (min-width: 768px) {
  .fonctionnement {
    width: 100%;
    max-width: 1440px;
    align-self: center;
    padding: 0 20px;
  }
}
@media (min-width: 1024px) {
  .fonctionnementTag {
    flex-direction: row;
    margin-bottom: 53px;
  }
  .tag {
    margin-right: 20px;
  }
  .rest {
    max-width: 1440px;
    margin: auto;
  }
  .restCard {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 10%;
  }
  .restCard a {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
